body{
    background-color: rgb(174, 114, 209);
}

/* Navbar */
.nav-color{
    background-color: rgb(110, 41, 175);
}

/* body-main part */
h2{
    color: rebeccapurple;
}

.container{
    margin-top: 50px;
}

.main{
    width: 1024px;
    margin-top: 20px; 
    background-color: white;
    padding: 20px 20px;
}

img{
    width: 180px;
    margin-bottom: 20px;
}

/* footer */
footer{
    background-color: white;
    text-align: center;
}


@media screen and (max-width: 768px){
    .main{
        width: 100%;
    }
    
}

@media screen and (max-width: 320px){
    .main{
        width: 100%;
    }
}
    
@media screen and (max-width: 168px){
    .main{
        width: 100%;
    }
}